<div class="container">
	<div class="row" align="center">
		<div class="col-xl-12" style="padding-top:20px;">
			<h1>Random Number from ANU</h1>
		</div>
		<div class="col-xl-12">
			<h5 *ngIf="meanValue">
				Showing last 
				<select [formControl]="myChoice">
					<option *ngFor="let value of randomValueArray;let i=index" [value]="i + 1">{{+i + 1}}</option>
				</select>
				random value(s)
			</h5>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-12" style="border-right:1px solid #eee;">
			<div *ngIf="randomNumber === undefined">
				Getting the first random number from ANU .....
			</div>
			<div *ngFor="let value of randomValueArray.slice(-myChoice.value).reverse()">
				<svg-rect [myRandomNumber]="value" [myRectangleColor]="getRectangleColor(value)"></svg-rect>
			</div>
		</div>
		<div class="col-md-6 col-sm-12" >
			<div *ngIf="randomNumber">
				<h3>Mean Value: <span>{{meanValue | number:'.0-2'}}</span></h3>
				<hr>
			</div>
			<div>
				<p><span style="color:red"><b>Red </b></span>indicate that the last value returned is less than the mean</p>
				<p><span style="color:green"><b>Green </b></span>indicate that the last value returned is greater than the mean</p>
				<p><span style="color:orange"><b>Orange </b></span>indicate that the last value returned is equal to the mean</p>
			</div>
		</div>
	</div>
	<hr>
</div>	